<!DOCTYPE html>
<html lang="en/GB">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="dark">
    <meta name="theme-color" content="#5865f2">
    <title>Discord Server Tracking</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- Discord embedding -->
    <meta content="Discord Server Tracking" property="og:title" />
    <meta content="Check out the membercount and onlinecount of servers throughout time, you can also add your servers!" property="og:description" />
    <meta content="https://discordservertracking.tk/" property="og:url" />
    <meta content="https://imgur.com/ho9tIc1" property="og:image" />
    <meta content="#5865f2" data-react-helmet="true" name="theme-color" />
</head>

<body class="bg-discord">
    <div id="__next">
        <div id="wrap">
            <div class="py-4 bg-discord">
                <div class="container">
                    <div class="justify-content-center row">
                        <div class="col-md-12 col-lg-10 fiftyperc">
                            <div class="box container-md">
                                <header class="header container-fluid">
                                    <div id="header-main">
                                        <h1 id="header-main-text-h1">Discord Server Count</h1>
                                    </div>
                                    <div id="header-user-identification" class="float-right">
                                        <img id="user-avatar" src="{{avatar_url}}" width="70px" height="70px">
                                    </div>
                                </header>
                                <main class="main container-fluid">
                                    <h4>{{identification}} is in a total of {{servercount}} servers</h4>
                                    <h4>{{identification}} has Administrator permissions in {{admincount}} servers</h4>
                                    <h4>{{identification}} owns {{ownercount}} servers</h4>
                                </main>
                                <footer id="footer">
                                    <div>
                                        <h5>Coded by </h5>
                                        <code>Nickyux#1023</code>
                                    </div>
                                </footer>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>